:root{
    --right-part-height: 1000px;
    --left-part-height: 950px;
    --custom-white-div-height: 50px
}

@media screen and (max-device-height: 800px){
    :root{
        --right-part-height: 700px;
        --left-part-height: 665px;
        --custom-white-div-height: 35px;
    }
}

#header {
    background-image: url("../images/left_part_header_image.png") , url("../images/right_part_header_image.png");
    background-repeat: no-repeat, no-repeat;
    background-position: left top, right top;
    background-size: 55vw var(--left-part-height), 62vw var(--right-part-height);
    background-blend-mode: hard-light, normal;
    width: 100vw;
    height: var(--right-part-height);
    margin:0;
    position: relative;
}

#header .background_div{
    position: absolute;
    height: var(--right-part-height);
}

#header .black_div {
    background-color: black;
    opacity: 0.90;
    float: left;
}

#header .left_div {
    width: 38vw;
    height: var(--left-part-height);
}

#header .right_div {
    width: 45vw;
    height: var(--right-part-height);
}

#header .center_div{
    width: 17vw;
    height: var(--right-part-height);
    float: left;
    background-color: black;
    opacity: 0.75;
}

#header .bottom_white_div {
    position: absolute;
    bottom: 0;
    height: var(--custom-white-div-height);
    width: 55vw;
    background-color: gray;
    opacity: 0.4;
}

