#header {
    background-image: url("../images/left_part_header_image.png") , url("../images/right_part_header_image.png");
    background-repeat: no-repeat, no-repeat;
    background-position: left top, right top;
    background-size: 55vw 1000px, 62vw 1000px;
    background-blend-mode: overlay, screen;
    width: 100vw;
    height: 1000px;
    margin:0;
}

#header .black_div {
    background-color: black;
    opacity: 0.90;
    float: left;
}

#header .light_black_div{
    background-color: black;
    opacity: 0.85;
    float: left;
}

#header .left_div {
    width: 38vw;
    height: 1000px;
}

#header .right_div {
    width: 45vw;
    height: 1000px;
}

#header .center_div{
    width: 16vw;
    height: 1000px;
}

#header .bottom_white_div{
    background-color: white;
    width: 54vw;
    height: 100px;
}